* {
  background-color: rgb(211, 149, 34);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Typing-content{
  background-color: yellow;
  width: 75%;
  height: 25vh;
  box-sizing: border-box;
  box-shadow: 2px 2px #111111;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.timer-box {
  background-color: aqua;
  width: 21vw;
  box-sizing: border-box;
  box-shadow: 2px 2px #111111;
  text-align: center;
  font-size: 28px;
  color: black;
}

@media screen and (max-width: 768px) {
  .timer-box {
    font-size: 13px;
  }
}



